<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Users</title>
</head>
<body>
    <p>
        <ol>
            {%for i in u%}
            <a href="/user/{{i.id}}"><li>{{i.first_name}} {{i.last_name}}</li></a>
            {%endfor%}
        </ol>
    </p><br>

    <button id="create_u" class="E_button">Add User</button>

    <script src="/static/js/myfile.js"></script>
</body>
</html>